{% extends "pagelayout.html.twig" %}

{% block content %}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <!-- Header -->
    <header class="below-navbar">
        <div class="container">
            <div class="row" id="banner">
                <div class="col-xs-12">
                    <div class="banner-header-block">
                        <img src="{{ asset('assets/images/logo_just_letters.png') }}" style="width: 100%;">
                        <h3 class="banner-header">Discover new rides! Go Bike!</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="buttons">
        <div class="container">
            <div class="row regular-content-size">
                <div class="col-xs-6 col-xs-offset-3">
                    <h4 class="center bottom">Find a Ride:</h4>
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="buttons">
        <div class="container">
            <div class="row regular-content-size">
                <div class="col-xs-10 col-xs-offset-1 box-style">
                    <div class="col-xs-10 text-justified">
                        {{ render( controller( "AppBundle:Homepage:getAllRides" ) ) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}